.depart-rating {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

.depart-info {
  padding: 5px 0px;
}

.card-header {
  background-color: #e74c3c;
  color: #ecf0f1;
  vertical-align: middle;
  text-align: center;
}

td {
  vertical-align: center;
}

.avatar-col {
  text-align: center;
}

.status-span {
  margin-right: 30px;
}

.image-card-body {
  padding: 5px;
}

.card-footer {
  text-align: center;
  height: 100%;
}

img {
  max-width: 100px;
}

.card {
  margin-bottom: 15px;
}
