<div *ngIf="success; else addForm" class="success-div">
  <h3>User was added success</h3>
  <button class="btn btn-success" (click)="addMore()">Add more</button>
</div>

<ng-template #addForm>
  <div class="card">
    <div class="card-header">{{'sidebar.new.user' | translate}}</div>
    <div class="card-body">
      <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>{{'table.th.name' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="user.fullname" name="fullname" #fullname="ngModel" required="required" minlength="3">
              <div class="text-danger" *ngIf="fullname.invalid">
                <div *ngIf="fullname.errors.required">Name is required</div>
                <div *ngIf="fullname.errors.minlength">Name must have at least 3 characters</div>
              </div>

            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" required="required" email>
              <div class="text-danger" *ngIf="email.invalid">
                <div *ngIf="email.errors.email">User email was invalid</div>
                <div *ngIf="email.errors.required">User email is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>{{'login.body.username' | translate}}</label>
              <input type="text" class="form-control" [(ngModel)]="user.username" name="username" #username="ngModel" required="required">
              <div class="text-danger" *ngIf="username.invalid">
                <div *ngIf="username.errors.required">Username is required</div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>{{'login.body.password' | translate}}</label>
              <input type="password" class="form-control" [(ngModel)]="user.password" name="password" #password="ngModel" required="required">
              <div class="text-danger" *ngIf="password.invalid">
                <div *ngIf="password.errors.required">Password is required</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" *ngIf="error">
          <div class="col">
            <div class="alert alert-danger">
              <strong>Add failed!</strong> {{message}}.
            </div>
          </div>
        </div>

        <div class="row group-button-custom">
          <button type="submit" class="btn btn-success btn-group-custom">{{'button.accept' | translate}}</button>
          <button type="reset" class="btn btn-secondary btn-group-custom">{{'button.reset' | translate}}</button>
        </div>
      </form>
    </div>
  </div>

</ng-template>
